<head>
  <%= render "shared/navhome" %>
  <script type="text/javascript">
    $(document).ready(function() {
        $("#back2Top").click(function(event) {
          var mqq = window.matchMedia( "(max-width: 580px)" );
          var mq = window.matchMedia( "(min-width: 580px)" );
          var mmq = window.matchMedia( "(min-width: 770px)" );
          var m = window.matchMedia( "(min-width: 1000px)" );
          if (mq.matches) {
            if (mmq.matches) {
              if (m.matches) {
                $("html, body").animate({ scrollTop: 780 }, "med");
              return false;
              } else {
              $("html, body").animate({ scrollTop: 740 }, "med");
              return false;
              }
            } else {
              $("html, body").animate({ scrollTop: 660 }, "med");
            return false;
            }
          }
          else if (mqq.matches) {
            $("html, body").animate({ scrollTop: 620 }, "med");
            return false;
          }

          else {
             $("html, body").animate({ scrollTop: 8000 }, "med");
            return false;
          }
          
        });

    });
  </script>
</head>
<body>
  <br>
  <br>
  <br>

  <h1>Lovely Toulouse</h1>
  <div class="container">

    <div class"card">
      <div class="intro">
        <%= image_tag "Toulouse1.jpg" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class"card">
      <div class="comment">
        <div class="row">
          <div class="col-xsm-6">
            <div class="comments">
              <%= image_tag "Toulouse2.jpg" %>
            </div>
          </div>
          <div class="col-xsm-6">
            <div class="comment-text">
              <p>Hi, I am Lovely Toulouse.<br> Do you want to learn more about my favourite <br>products?</p>
            </div>
            <div class="check-it">
              <a id="back2Top"class="btn btn-primary" href _blanc>Check it out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="container">
    <div class"card">
      <div class="custom-card-header">
        <h3> Menu</h3>
      </div>
      <div class="menu-comment">
        <div class="row">
          <div class="col-xsm-6">
            <div class="comments">
              <%= image_tag "catfood.jpg" %>
            </div>
          </div>
          <div class="col-xsm-6">
            <div class="comment-text">
              <strong>Food</strong>
              <p>For those who are always hungry</p>
            </div>
            <div class="menu-btn">
              <%=link_to "Food", foods_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class"card">
      <div class="menu-comment">
        <div class="row">
          <div class="col-xsm-6">
            <div class="comments">
              <%= image_tag "cat_toy.jpg" %>
            </div>
          </div>
          <div class="col-xsm-6">
            <div class="comment-text">
              <strong>Toys</strong>
              <p>Wich cat doesn't love playing?</p>
            </div>
            <div class="menu-btn">
              <%=link_to "Toys", toys_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class"card">
      <div class="menu-comment">
        <div class="row">
          <div class="col-xsm-6">
            <div class="comments">
              <%= image_tag "handy_stuff.jpg" %>
            </div>
          </div>
          <div class="col-xsm-6">
            <div class="comment-text">
              <strong>Handy Stuff</strong>
              <p>Things like a litter box,<br> scratching post, food bowl...</p>
            </div>
            <div class="menu-btn">
              <%=link_to "Toys", toys_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <%= render "shared/footer" %>
</body>

