<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= render "shared/navhome" %>
  <script type="text/javascript">
    $(document).ready(function() {
        $("#back2Top").click(function(event) {
          var mqq = window.matchMedia( "(max-width: 580px)" );
          var mq = window.matchMedia( "(min-width: 580px)" );
          var mmq = window.matchMedia( "(min-width: 770px)" );
          var m = window.matchMedia( "(min-width: 1000px)" );
          if (mq.matches) {
            if (mmq.matches) {
              if (m.matches) {
                $("html, body").animate({ scrollTop: 780 }, "med");
              return false;
              } else {
              $("html, body").animate({ scrollTop: 740 }, "med");
              return false;
              }
            } else {
              $("html, body").animate({ scrollTop: 660 }, "med");
            return false;
            }
          }
          else if (mqq.matches) {
            $("html, body").animate({ scrollTop: 620 }, "med");
            return false;
          }

          else {
             $("html, body").animate({ scrollTop: 8000 }, "med");
            return false;
          }
          
        });

    });
  </script>
</head>
<body>
  <br>
  <br>
  <br>
  <br>
  <h1>Lovely Toulouse</h1>
  <div class="container">

    <div class"card">
      <div class="intro">
        <%= image_tag "Toulouse1.jpg" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class"card">
      <div class="comment">
        <div class="row">
          <div class="restricted">
          <div class="col-2">
            <div class="comments">
              <%= image_tag "Toulouse2.jpg" %>
            </div>
          </div>
          </div>
          <div class="col-10">
            <div class="comment-text">
              <p>Hi, I am Lovely Toulouse. Do you want to learn more about my favourite products?</p>
            </div>
            <div class="check-it">
              <a id="back2Top"class="btn btn-primary" href _blanc>Check it out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="container">
    <div class="custom-card-header">
      <h3> Menu</h3>
    </div>
    <div class="menu-comment">
      <div class="row">
        <div class="col-xsm-6">
          <div class="menu-comments">
            <div class="comments">
              <%= image_tag "catfood.jpg" %>
            </div>
          </div>
        </div>
        <div class="col-xsm-6">
          <div class="menu-comment-text">
            <strong>Food</strong>
            <p>Who doesn't love food!</p>
          </div>
          <div class="menu-btn">
            <%=link_to "Food", foods_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="menu-comment">
      <div class="row">
        <div class="col-xsm-6">
          <div class="menu-comments">
            <div class="comments">
              <%= image_tag "cat_toy.jpg" %>
            </div>
          </div>
        </div>
        <div class="col-xsm-6">
          <div class="menu-comment-text">
            <strong>Toys</strong>
            <p>Wich cat doesn't love playing?</p>
          </div>
          <div class="menu-btn">
            <%=link_to "Toys", toys_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="menu-comment">
      <div class="row">
        <div class="col-xsm-6">
          <div class="menu-comments">
            <div class="third-comments">
              <%= image_tag "handy_stuff.jpg" %>
            </div>
          </div>
        </div>
        <div class="col-xsm-6">
          <div class="menu2-comment-text">
            <strong>Handy Stuff</strong>
            <p>Things like a litter box,<br> scratching post, food bowl...</p>
          </div>
          <div class="menu-btn-three">
            <%=link_to "Handy stuff", handy_stuffs_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class"card">
      <div class="comment">
        <div class="row">
          <div class="restricted">
            <div class="col-2">
              <div class="patreon">
                <%= image_tag "patreon.jpg" %>
              </div>
            </div>
          </div>
          <div class="col-10">
            <div class="comment-text">
              <p>Do you want to support me?<br> Check out my patreon account!  <br></p>
            </div>
            <div class="check-it">
              <a id="back2Top"class="btn btn-danger" href="https://www.patreon.com/lovely_toulouse">Check it out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <%= render "shared/footer" %>
</body>

