<%= form_with(model: food, local: true) do |f| %>
  <% if food.errors.any? %>
    <% food.errors.full_messages.each do |error| %>     
        <%= alert_generator error %>
    <% end %>
  <% end %>


<%= render "shared/application_nav" %>
<br>
<br>
<br>
<br>
  <div class="food-card-container">
    <div class="food-form card">
      <h2>Edit</h2>
      <br>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', placeholder: "Whiskas Senior Droge Brokjes - Kip - Kattenvoer - 1.9 kg" %>
          </div>

          <div class="form-group">
            <%= f.label :link %>
            <%= f.text_area :title, class: 'form-control', placeholder: "https://www.bol.com/nl/p/whiskas-brokjes-adult-kip-kattenvoer-5-x-1-1-kg/9200000055589198/?suggestionType=typedsearch&bltgh=joXEWYOH-K1x4NndLaxIkw.1.8.ProductTitle", rows: "5" %>
          </div>

          <div class="form-group">
            <%= f.label :image %>
            <%= f.text_area :image, class: 'form-control', placeholder: "https://s.s-bol.com/imgbase0/imagebase3/large/FC/7/3/7/0/9200000056510737.jpg", rows: "6"  %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control', placeholder: "Bij Whiskas begrijpen we wat uw kat ban nature nodig heeft en waar ze van houdt.
              Daarom is Whiskas 7+ volledige en gebalanceerde voeding met een optimale balans van vitaminen en mineralen, om u te helpen de best mogelijke verzorging te geven aan uw volwassen kat.

              • Onze maaltijden bevatten alles wat uw kat op het gebied van voeding nodig heeft voor een lang en gelukkig leven.
              • Een licht schurende werking helpt de tanden van uw kat schoon te houden.
              • Geformuleerd ter ondersteuning van gezonde urinewegen.
              • Met omega-6 vetzuren en zink die bijdragen aan een gezonde huid en vocht.
              • Met vitamine A dat helpt het gezichtsvermogen sterk te houden.
              • Bevat onweerstaanbare gevulde brokjes - Knapperig van buiten en heerlijk zacht van binnen.", rows: "14"  %>
          </div>

          <div class="form-group">
            <%= f.radio_button :land, 0 %> USA<br />
            <%= f.radio_button :land, 1 %> Europe<br />
          </div>
        </div>
      </div>

      <br>
      <div class="actions">
        <%= link_to "back", foods_path, style: "color: black; position: absolute; right: 20px; bottom: 4rem;" %>
        <%= f.submit "Save food-item", class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>
<%= render "shared/footer" %>
<% end %>